:host {
  display: block;
}

.container-search-breed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--mat-sys-surface);
  position: relative;
  padding: calc(var(--height-top-bar) + 2rem) 2rem 2rem;
  background: linear-gradient(to bottom, black, rgb(22, 22, 28));

  h1 {
    margin: 0;
  }
}

em {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--mat-sys-primary), var(--mat-sys-inverse-primary));
  font-style: normal;
}