:host {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 1rem);
  max-width: calc(100vw - 4rem);
}

picture {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: contain;
  }
  figcaption {
    color: var(--mat-sys-inverse-primary);
  }
}

.btn-close {
  --mdc-icon-button-icon-color: white;
  --mdc-icon-button-icon-size: 2.5rem;
  --mdc-icon-button-state-layer-size: 3rem;
  margin-left: auto;
  ::ng-deep mat-icon {
    font-size: var(--mdc-icon-button-icon-size);
    width: var(--mdc-icon-button-icon-size);
    height: var(--mdc-icon-button-icon-size);
  }
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 40rem) {
  picture {
    min-width: 280px;
  }
}
