:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
}

.filter-toggle-option {
  border-radius: 100px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  will-change: background-color, border-color, color;
  transition: background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  &.selected {
    background-color: var(--mat-sys-primary-container);
    border: 1px solid var(--mat-sys-on-primary-container);
    color: var(--mat-sys-on-primary-container);
  }
}
