@use '@angular/material' as mat;

:host {
  width: 100%;
}

.search-container {
  margin-inline: auto;
  width: 100%;
  max-width: 600px;

  mat-form-field {
    width: 100%;
    &[aria-disabled='true'] {
      pointer-events: none;
    }


    // Sometimes angular material is a bit of a pain ...
    mat-progress-spinner#search-spinner {
      height: 1.5rem !important;
      width: 1.5rem !important;
      margin-inline: 0.75rem;
    }
  }

  ::ng-deep mat-form-field {
    & .mat-mdc-form-field-icon-suffix {
      padding-inline: 0.25rem;
    }

    // overrides the default background color of the input field
    & .mdc-text-field--outlined {
      background-color: var(--mat-sys-surface-container);
      border-radius: 0.25rem;
    }
  }

  @include mat.form-field-overrides(
    (
      outlined-container-shape: 0.25rem,
      outlined-hover-outline-color: var(--mat-sys-primary),
      outlined-outline-width: 0.15rem,
      outlined-focus-outline-width: 0.2rem,
    )
  );

  @include mat.progress-spinner-overrides((
    size: 1.25rem,
    active-indicator-width: 1.25rem,
    active-indicator-color: var(--mat-sys-outline),
  ));

}
