@use '@angular/material' as mat;

:host {
  --gap-items: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: var(--gap-items);
  padding: var(--gap-items);

  &.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    figure {
      margin-top: 5rem;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      text-align: center;
    }
  }
}


@media screen and (max-width: 40rem) {
  :host {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 30rem) {
  :host {
    grid-template-columns: auto;
  }
}
